.brgy-avatar{
    border-radius:50%;
    height:150px;
    width:150px;
    background-color:gray;
    margin:1em;
}

.about-one table tr td a{
    text-decoration:none;
    font-size:25px;
    //color:#3366cc;
    color:#444;
    
    
}
.about-one table tr td{
    text-align:center;
}
.about-one table tr td a:hover{
    font-weight:bold;
}
.about-one table tr td div:hover{
    width:155px;
    box-shadow:0px 2px 10px 1px black;
}

.about-one{
}