*{
    font-family:Sans-serif;
}

nav
{
    display:flex;
    justify-content:space-between;
    background-color:#333;
    width:100vmax;
    color:white;
    padding: 10px;
    font-size:18px;
    align-items:center;
    box-shadow:1px 2px 8px 1px #777;
}

nav input
{
    border-radius:15px;
    width:500px;
    padding:8px;
    background-color:gray;
    color:white;
    border:none;
}
nav input::placeholder
{
    color:#f5f5f5;
}

body
{
    margin:0;
}

.main-container
{
                /* border:5px solid green; */
        display:flex;
}
.side-nav
{
        background-color:red;
        width: 100px;
        display:flex;
        height: 100vh;
        flex-direction:column;
        align-items:center;
        justify-content: center;
}

.content-container
{
        /* border:5px solid blue; */
        width:100%;
}
.content-menu
{
        /* border:1px solid pink; */
        display:flex;
        gap:2em;
        justify-content: center;
        //background-color:red;
        padding:15px;
}
.content-box
{
        /* border:1px solid orange; */
}
th
{

    padding: 15px;
    /* border:1px solid green; */
}
table, tr, td,th
{
        border:1px solid #999;
        border-collapse: collapse;
        padding:10px;
        margin:auto;
        font-size:12px;
}
table tr:nth-child(even) {
    background-color: #dddddd;
   // color:#444;
  }